<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)" />
    </Found>
    <NotFound>
        <h3>Sorry, page not found!</h3>
    </NotFound>
</Router>
