@inherits LayoutComponentBase

<div class="d-flex" style="gap:1rem">
    <aside style="width:200px">
        <nav class="p-2">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/add-event">Add Event</a>
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/attendance">Attendance</a>
        </nav>
    </aside>
    <main style="flex:1">
        @Body
    </main>
</div>
